assemblyai==0.6.0
attr==0.3.2
ConfigParser==5.3.0
cryptography==41.0.1
Cython==0.29.35
dl==0.1.0
docutils==0.20.1
Flask==2.3.2
flask_cors==3.0.10
gradio==3.33.1
HTMLParser==0.0.2
ipython==8.14.0
ipywidgets==8.0.6
Jinja2==3.1.2
jnius==1.1.0
keyring==23.13.1
lockfile==0.12.2
numpy==1.24.3
openai==0.27.7
Pillow==9.5.0
protobuf==4.23.2
pvrecorder==1.1.1
pyOpenSSL==23.2.0
railroad==0.5.0
speedups==1.1.0
Sphinx==7.0.1
tornado==6.3.2
trove_classifiers==2023.5.24
truststore==0.7.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
